$bg-color: black;
$fg-color: white;
$board-bg-color: gray;
$player-color: blue;
$enemy-color: red;
$medicine-color: green;
$room-color: white;
$stairs-color: purple;

html {
  background-color: $bg-color;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $bg-color;
  color: $fg-color;
}

.HolyGrail-header {
  width: 100%;
  position: fixed;
  background: $bg-color;
  text-align: center;
  border-bottom: 1px solid $fg-color;
  z-index: 1;

  p {
    strong,
    button {
      margin-left: 20px;
    }
  }
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  margin-top: 160px;
  margin-bottom: 20px;
}

.HolyGrail-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    position: absolute;
    left: 0;

    td {
      width: 10px;
      height: 10px;
      background-color: transparent;

      &.player {
        background-color: $player-color;
      }

      &.enemy {
        background-color: $enemy-color;
      }

      &.medicine {
        background-color: $medicine-color;
      }

      &.room {
        background-color: $room-color;
      }

      &.stairs {
        background-color: $stairs-color;
      }

      &.black {
        background-color: $bg-color;
      }
    }
  }
}

.HolyGrail-footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $fg-color;
}
