$bg-color: black;
$fg-color: white;
$board-bg-color: gray;
$player-color: blue;
$enemy-color: red;
$medicine-color: green;
$room-color: white;
$stairs-color: purple;

html {
  background-color: $bg-color;
}

body {
  overflow: hidden;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $bg-color;
  color: $fg-color;
}

.HolyGrail-header {
  width: 100%;
  position: fixed;
  background: $bg-color;
  text-align: center;
  border-bottom: 1px solid $fg-color;
  z-index: 1;

  p {
    strong,
    button {
      margin-left: 20px;
    }
  }
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  margin-top: 160px;
}

.HolyGrail-content {
  flex-shrink: 0;
  flex-basis: 1001px; /* all inner element are positioned, so width = 0, need this or specific width = 10001px */
  margin-left: auto; /* need flex-grow: 0 to work */
  margin-right: auto; /* need flex-grow: 0 to work */
  position: relative;

  div {
    position: absolute;
    top: 0; /* controlable by javascript */
    left: 0; /* controlable by javascript */

    table {
      border-collapse: collapse;
      padding: 0;

      &:nth-child(1n+2) {
        position: absolute;
        top: 0;
        left: 0;
      }

      td {
        width: 10px;
        height: 10px;
        background-color: transparent;
        padding: 0;

        &.player {
          background-color: $player-color;
        }

        &.enemy {
          background-color: $enemy-color;
        }

        &.medicine {
          background-color: $medicine-color;
        }

        &.room {
          background-color: $room-color;
        }

        &.stairs {
          background-color: $stairs-color;
        }

        &.black {
          background-color: $bg-color;
        }
      }
    }
  }
}

.HolyGrail-footer {
  text-align: center;
  background-color: $bg-color;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $fg-color;
  position: relative;
}
